ALCHEMY_API_KEY=abc
DEPLOYER_PRIVATE_KEY=0x123
ARB_DEPLOYER_PRIVATE_KEY=0x123
CONTRACT_REPO_PATH=~/home/curvance/contracts
DEPLOYMENT_REPO_PATH=~/home/curvance/contract-deployer
TEST_RPC=http://localhost:8545
TEST_CHAIN="monad-testnet"
SUPPLY_TEST_LIQUIDITY=true
